@{
    ViewBag.Title = "Hands On test";
}


<div class="row">
    <h1>Hands On Test</h1>
    <p class="lead">Click on the button to get all the employees</p>
    <input type="button" value="Get Employees" class="btn btn-primary btn-sm" id="getEmployees"/>
</div>